body {
    margin: 0 auto;
    width: 490px;
    height: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid;
}

.row {
    display: table-row;
}

.col {
    margin: -1px;
    padding: 0;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
}


.col:before {
    content: "";
    float: left;

}

img {
    width: 69px;
    height: 69px;
}
